.waveTop {
  position: absolute;
  top: -40px;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 1;
}

.oceanWave {
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background-size: 50% 100%;
}

.wave1 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z' opacity='.25' fill='%23f1f5f9'/%3E%3Cpath d='M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z' opacity='.5' fill='%23f1f5f9'/%3E%3Cpath d='M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z' fill='%23f1f5f9'/%3E%3C/svg%3E");
  animation: wave1 12s ease-in-out infinite;
  z-index: 3;
}

.wave2 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z' opacity='.7' fill='%23e2e8f0'/%3E%3C/svg%3E");
  animation: wave2 15s ease-in-out infinite;
  z-index: 2;
}

.wave3 {
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1200 120' preserveAspectRatio='none'%3E%3Cpath d='M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z' opacity='.4' fill='%23cbd5e1'/%3E%3C/svg%3E");
  animation: wave3 18s ease-in-out infinite;
  z-index: 1;
}

@keyframes wave1 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-25%);
  }
}

@keyframes wave2 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
}

@keyframes wave3 {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-35%);
  }
}

.waveBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  z-index: 0;
}

.bubble {
  position: absolute;
  bottom: -100px;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.1) 100%);
  border-radius: 50%;
  animation: rise linear infinite;
  opacity: 0.6;
}

.bubble:nth-child(1) {
  width: 40px;
  height: 40px;
  left: 10%;
  animation-duration: 6s;
  animation-delay: 0s;
}

.bubble:nth-child(2) {
  width: 60px;
  height: 60px;
  left: 25%;
  animation-duration: 8s;
  animation-delay: 1s;
}

.bubble:nth-child(3) {
  width: 30px;
  height: 30px;
  left: 40%;
  animation-duration: 7s;
  animation-delay: 2s;
}

.bubble:nth-child(4) {
  width: 50px;
  height: 50px;
  left: 55%;
  animation-duration: 9s;
  animation-delay: 0.5s;
}

.bubble:nth-child(5) {
  width: 35px;
  height: 35px;
  left: 70%;
  animation-duration: 6.5s;
  animation-delay: 1.5s;
}

.bubble:nth-child(6) {
  width: 45px;
  height: 45px;
  left: 85%;
  animation-duration: 8.5s;
  animation-delay: 0.8s;
}

.bubble:nth-child(7) {
  width: 38px;
  height: 38px;
  left: 15%;
  animation-duration: 7.5s;
  animation-delay: 2.5s;
}

.bubble:nth-child(8) {
  width: 55px;
  height: 55px;
  left: 32%;
  animation-duration: 9.5s;
  animation-delay: 1.2s;
}

.bubble:nth-child(9) {
  width: 28px;
  height: 28px;
  left: 48%;
  animation-duration: 6.8s;
  animation-delay: 3s;
}

.bubble:nth-child(10) {
  width: 42px;
  height: 42px;
  left: 62%;
  animation-duration: 8.2s;
  animation-delay: 0.3s;
}

.bubble:nth-child(11) {
  width: 52px;
  height: 52px;
  left: 78%;
  animation-duration: 7.8s;
  animation-delay: 2.2s;
}

.bubble:nth-child(12) {
  width: 33px;
  height: 33px;
  left: 92%;
  animation-duration: 7.2s;
  animation-delay: 1.8s;
}

@keyframes rise {
  0% {
    bottom: -100px;
    opacity: 0;
    transform: translateX(0) scale(1);
  }
  10% {
    opacity: 0.6;
  }
  90% {
    opacity: 0.3;
  }
  100% {
    bottom: 100%;
    opacity: 0;
    transform: translateX(50px) scale(1.2);
  }
}
