@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 66, 60, 50;
  --background-start-rgb: 255, 251, 235;
  --background-end-rgb: 255, 251, 235;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #fef3c7;
}

::-webkit-scrollbar-thumb {
  background: #d6d3d1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a29e;
}
